<div>
  <h1> Update Product</h1>
</div>
<form method="post" action="/product/edit/{{product._id}}">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      id="name"
      value="{{product.name}}"
    />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      type="text"
      name="price"
      `
      class="form-control"
      id="price"
      aria-describedby="emailHelp"
      value="{{product.price}}"
    />
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input
      type="text"
      name="category"
      class="form-control"
      id="category"
      aria-describedby="emailHelp"
      value="{{product.category}}"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input
      type="text"
      name="description"
      class="form-control"
      id="description"
      aria-describedby="emailHelp"
      value="{{product.description}}"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>