<div class="d-flex justify-content-end mt-5">
  <a href="/products/add" class="btn btn-primary">Add Product</a>
</div>

<div class="row">
  {{#each products}}
    <div class="card col-md-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.description}}</p>
        <p class="card-text">{{this.price}}</p>
        <p class="card-text">{{this.category}}</p>
        <a href="/product/edit/{{this._id}}" class="btn btn-primary">Edit</a>
        <button
          type="button"
          id="delete-product"
          class="btn btn-danger"
          onclick="removeProduct('{{this._id}}')"
        >Delete</button>
      </div>
    </div>
  {{/each}}
</div>

<script>

  function removeProduct( id ){ fetch('/product/delete/'+ id, { method:
  'PUT',}).then(response => { console.log(response.json()) }) }
</script>